<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>frix gui</title>
    <link href="https://fonts.googleapis.com/css?family=Abel|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <script src="script.js" defer async></script>
  </head>
  <body>
    <div block="container">
      <div elem="tab">
        <div elem="head">
          <h1 elem="heading">Page</h1>
          <h1 elem="button" class="link">+</h1>
          <img src="/monitor.svg" elem="button" mods="device selected" class="link" data-type="monitor"/>
          <img src="/laptop.svg" elem="button" mods="device" class="link" data-type="laptop"/>
          <img src="/tablet.svg" elem="button" mods="device" class="link" data-type="tablet"/>
          <img src="/phone.svg" elem="button" mods="device" class="link" data-type="phone"/>
        </div>
        <ul block="page-list" id="page">
          {{#each pages}}
            <li elem="item">
              <p elem="side">{{name}}</p>
              <div elem="screen" mods="monitor">
                <iframe scrolling="no" srcdoc="{{html}}"></iframe>
              </div>
              <p elem="side" mods="right">{{@key}}</p>
              <h1 elem="edit" class="link" data-url="{{@key}}">edit</h1>
            </li>
          {{/each}}
        </ul>
      </div>
      <div elem="tab">
        <div elem="head">
          <h1 elem="heading">Content</h1>
          <h1 elem="button" class="link">+</h1>
        </div>
        {{#each content}}
          <span data-url="{{@key}}" class="wrapper-tree hidden-tree">
          {{#tree this}}
          {{/tree}}
          </span>
        {{/each}}
      </div>
      <div elem="tab">
        <div elem="head">
          <h1 elem="heading">Site</h1>
          <h1 elem="button" class="link">+</h1>
        </div>
        <iframe id="preview"></iframe>
      </div>
    </div>
  </body>
</html>
